.cont {
    margin-left: 30px;
    width: 250px;
    height: 190px;
    border-radius: 10px;
    background-color: #b80011;
    display: flex;
    justify-content: center;
    align-items: center;
    .data {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        border-radius: 10px;
        background-color: #3E0006;

        .text-block {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 40px;
            font-weight: bold;
            color: #FFF;
        }
    
        .arrows-block {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .arrow {
                margin-top: 10px;
                cursor: pointer;
                width: 50px;
                height: 50px;
                border-radius: 10px;
                background-color: #454545;
                display: flex;
                justify-content: center;
                align-items: center;
                .value {
                    width: calc(100% - 10px);
                    height: calc(100% - 10px);
                    border-radius: 10px;
                    background-color: #3E0006;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: #fff;
                }
            }
        }
    }
}