<div class="cont">
    <div class="text-block">
        <div class="title">  {{ freeSpinName() }}  </div>
        <div class="price" *ngIf="isSelected == false" (click)="onClick()"> {{ selectedBet * freeSpin.price }} GEL - Buy </div>
        <div class="price confirm" *ngIf="isSelected == true" (click)="onClick()"> Confirm Buy </div>
    </div>
    <div class="leafs-block">
        <div class="leaf"></div>
        <div class="leaf" *ngIf="freeSpin.minLeafs < freeSpin.maxLeafs || freeSpin.minLeafs == 3 "></div>
        <div class="plus" *ngIf="freeSpin.minLeafs < freeSpin.maxLeafs"> + </div>
        <div class="leaf">
            <div class="free_spins">
                <div class="content">
                    <span class="number"> {{ freeSpin.freeSpinCount }} </span>
                    <span class="text"> Free Spins </span>
                </div>
            </div>
        </div>
    </div>
</div>