.bonus {
    cursor: pointer;
    width: 220px;
    height: 100px;
    border-radius: 10px;
    background-color: #b80011;
    display: flex;
    justify-content: center;
    align-items: center;

    .data {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #3E0006;
        border-radius: 10px;

        .logo {
            width: 75px;
            height: 75px;
            background-image: url('../../../assets/symbols/leaf.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            flex: 1;
        }

        .text {
            color: #FFF;
            font-size: 16px;
            font-weight: 900;
            flex: 1;
            padding-left: 15px;
        }
    }
}

@media only screen and (max-width: 1600px) {
    .bonus {
        width: 150px;
        height: 70px;
        .data {
            .logo {
                width: 45px;
                height: 45px;
            }
        
            .text {
                font-size: 14px;
            }
        }
    }
    
}

@media only screen and (max-width: 920px) {
    .bonus {
        width: 70px;
        height: 30px;
        .data {
            .logo {
                width:  55px;
                height: 55px;
            }
        
            .text {
                font-size: 8px;
            }
        }
    }
    
}

@media only screen and (max-width: 500px) {
    .bonus {
        width: 45px;
        height: 20px;
        .data {
            .logo {
                width: 60px;
                height: 25px;
            }
        
            .text {
                font-size: 5px;
                padding-left: 7px;
            }
        }
    }
    
}